/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider__banners .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  width: 58px;
  height: 58px;
  border: 0;
  outline: none;
}

.slider__banners .slick-arrow.slick-arrow.slick-prev {
  opacity: 0;
}

.slider__banners .slick-arrow.slick-arrow.slick-next {
  right: -89px;
  background: url('../images/slider_arrow.svg') 0 0 / 100% no-repeat;
}

.slider__banners .slick-dots{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 97px;
  right: 50%;
  margin: 0;
  padding: 0;
  transform: translateX(50%);
}
.slider__banners .slick-dots li{
  list-style: none;
  margin: 0 8px 0 0;

}
/* Активная точка */
.slider__banners .slick-dots li.slick-active button{
  background: #F4AE44;
}
/* Элемент точки */
.slider__banners .slick-dots li button{
  font-size: 0;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  outline: none;
}






